.header {
    border: 0;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    background-image: linear-gradient(-20deg, #2f00ff 0%, #0010f5 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    font-size: 2rem;
    color: #03f503;
    font-weight: bolder;
}

.navigation {
    list-style: none;
    display: flex;
}

.navElement {
    color: #2bff00;
    text-decoration: none;
    font-weight: bolder;
    padding: 0 10px;
}